/* common */
* {
  box-sizing: border-box;
}
/*  */
body {
  margin: 0;
  background-color: #c2d3de;
}
header{
  color: rgb(18, 72, 122);
}
.content{
  width: 100%;
  max-width: 700px;
  height: 30vh;
  background-color: azure;
  border: 1px solid skyblue;
  border-radius: 10px;
}

.wrapper {
  margin: auto;
  margin-top: 100px;
  width: 100vw;
  height: 100vh;
  max-width: 700px;
}
main p {
  color: rgb(18, 72, 122);
  font-size: x-large; 
  font-weight: bold;
  text-align: center;
}